.vscode/**
.vscode-test/**
.gitlab/**
src/**
.gitattributes
.gitignore
vsc-extension-quickstart.md
**/.editorconfig
**/.eslintrc.yml
**/.nycrc.json
**/.prettierignore
**/.prettierrc
**/tsconfig.json
**/*.map
**/*.ts

**/Gulpfile.js

**/ki-comms/.vscode/
**/ki-comms/scripts/
**/ki-comms/src/
**/ki-comms/target/

**/*.d

