body {
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background);
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: var(--vscode-foreground);
}

.system {
  background-color: var(--vscode-editor-background);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vscode-input-label {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

.vscode-dropdown,
.vscode-input {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid var(--vscode-input-border);
  border-radius: 3px;
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
}

.vscode-details {
  margin-bottom: 10px;
}

.vscode-details-content {
  margin-left: 20px;
}

.vscode-button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.round-vscode-button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  width : 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center
}

.vscode-button:hover {
  background-color: var(--vscode-button-hoverBackground);
}