body {
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  color: var(--vscode-foreground);
  background-color: var(--vscode-sideBar-background);
  padding: 10px;
}

label {
  text-align: right;
  color: var(--vscode-foreground);
}

.accordion {
  background-color: var(--vscode-sideBar-background);
  color: var(--vscode-foreground);
  cursor: pointer;
  padding: 10px;
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 4px;
  width: 100%;
  text-align: left;
  transition: 0.3s;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.accordion .chevron {
  display: inline-block;
  transition: transform 0.3s ease;
}
.accordion[aria-expanded="true"] .chevron {
  transform: rotate(90deg);
}
.plus-icon {
  font-size: 20px;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  display: none;
  background-color: var(--vscode-sideBar-background);
  color: var(--vscode-foreground);
}

.accordion-content.show {
  display: block;
}

.node-subgroup {
  display: grid;
  grid-template-columns: 150px 1fr auto;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.form-group {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.slot-group {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}


.delete-icon {
  cursor: pointer;
  font-weight: bold;
  justify-self: end;
}

@media (max-width: 350px) {
  .form-group {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .slot-group {
    grid-template-columns: 1fr;
    text-align: left;
  }

  label {
    text-align: left;
  }

  .node-subgroup {
    grid-template-columns: 1fr;
  }

  .delete-icon {
    justify-self: start;
    margin-top: 5px;
  }
}

input[type="text"],
select {
  padding: 6px 8px;
  font-size: 14px;
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 4px;
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
}

input[type="text"]::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.save-button {
  margin-top: 15px;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: 1px solid var(--vscode-button-border);
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: var(--vscode-button-hoverBackground);
}